@import "colors";

footer {
	border-top: 3px solid Black;
	@include colors('../images/footerimage.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	height: 350px;
	position: relative;
	top: 500px;
	
	
	#social {
		position: relative;
		top: 25px;
		padding-left: 1050px;
		letter-spacing: 3px;
		font-size: 3rem;                                    //this is for social heading & subheading
		color: #fff;
		font-family: 'Rajdhani', sans-serif;
	}
	
	#profile { 
		
		display: inline-block;
			
		li {
			margin: 15px;
			color: #fff;
			display: inline-block;
			font-size: 30px;
			
			i {
				color: #fff;
				position: relative;
				left: 1025px;;
				top: 35px;
			}
		}	
	}
	
	p.lastline {
		color: #fff;
		text-align: center;
		margin-top: 140px;
		.fa-heart {
			color: red;
		}
		.fa-mug-hot {
			color: gray;
		}
		a {
			color: palevioletred;
			letter-spacing: 2px;
			text-decoration: none;
		}
		a:hover {
			opacity: 0.8;
			
		}
	}
}