@import "colors";


body {
	@include colors('../images/indexcover.jpeg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	
	.navbar {
		overflow: hidden;
		position: fixed;
		
		opacity: 0.6;
		
		width: 100%;
	}
	.container-fluid {
		
		
		.navbar-brand {
			text-decoration: none;
			color: #fff;
			
			font-size: 25px;
				
			float: left;						// our LOGO
			border-right: solid 1px gray;
			text-align: center;
			padding-right: 50px;
		
		}
		.navbar-brand:hover {
			background-color: brown;
			
		}
		ul {
				
			li{
				border-right: solid 1px gray;
				padding:0px 50px;
				text-align: center;
				font-size: 15px;
				a {
					text-decoration: none;
					
				}
				
				
			}
	
		}	
		
	}
	#heading {
		text-align: center;
		font-size: 24px;
		padding-top: 70px;
		color: #fff;
	}

	//Make the color-shade nav bar for different color shades

	.color-box-container {
		margin-top: 65px;
		
		#mostly-used {
			font-size: 30px;
			color: #fff;
			text-align: center;
			margin: 7px;
		}
		.color-box {
			margin: 0px 0px 9px 5px;
			display: inline-block;
			width: 250px;
			height: 150px;
			color: #fff;
			border: 2px solid darkgoldenrod;
			border-radius: 8px;
			.hex-number {
				position: relative;
				top:55px;
				left: 85px;
				font-size: 15px;
				letter-spacing: 1px;
				font-weight: bold;
			}
		}
		.color-box:hover {
				
			cursor: pointer;
		}
	}

	footer {
		border-top: 3px solid Black;
		@include colors('../images/footerimage.jpg');
		background-attachment: fixed;
		background-size: cover;
		background-position: center center;
		height: 350px;
		position: relative;                               // Footer Height 
		top: 60px;
	
	
		#social {
			position: relative;
			top: 25px;
			padding-left: 1050px;
			letter-spacing: 3px;
			font-size: 3rem;                                    //this is for social heading & subheading
			color: #fff;
			font-family: 'Rajdhani', sans-serif;
		}
		
		#profile { 
			
			display: inline-block;
				
			li {
				margin: 15px;
				color: #fff;
				display: inline-block;
				font-size: 30px;
				
				i {
					color: #fff;
					position: relative;
					left: 1025px;;
					top: 35px;
				}
			}	
		}
		
		p.lastline {
			color: #fff;
			text-align: center;
			margin-top: 140px;
			.fa-heart {
				color: red;
			}
			.fa-mug-hot {
				color: gray;
			}
			a {
				color: palevioletred;
				letter-spacing: 2px;
				text-decoration: none;
			}
			a:hover {
				opacity: 0.8;
				
			}
		}
	}
}