@import "colors";


body {
	@include colors('../images/indexcover.jpeg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	.navbar {
		overflow: hidden;
		position: fixed;
		
		opacity: 0.6;
		
		width: 100%;
	}
	.container-fluid {
		height: 2.5em;
		
		.navbar-brand {
			text-decoration: none;
			color: #fff;
			height: 2.2em;
			font-size: 25px;
				
			float: left;						// our LOGO
			border-right: solid 1px gray;
			text-align: center;
			padding-right: 50px;
		
		}
		.navbar-brand:hover {
			background-color: brown;
			
		}
		ul {
				
			li{
				border-right: solid 1px gray;
				padding:0px 50px;
				text-align: center;
				font-size: 15px;
				a {
					text-decoration: none;
				}
				
				
			}
	
		}	
		
	}
	#heading {
		text-align: center;
		font-size: 24px;
		padding-top: 90px;
		color: #fff;
	}

	
}